div.ro-source {
  margin-bottom: 8px;
}
div.ro-source > div.ro-label,
div.ro-source > div.ro-labelledlink a div {
  background-color: #1d3557;
  color: white;
  border: 1px #1d3557 solid;
  padding: 8px;
}
div.ro-source div.ro-labelledlink a {
  text-decoration: underline;
}
div.ro-source > div:not(:empty) {
  border: 1px grey solid;
  margin-bottom: 8px;
}
div.ro-source > div:not(:empty) > div {
  padding: 8px;
}
div.ro-source > div:not(:empty) > div.ro-label,
div.ro-source > div:not(:empty) > div.ro-labelledlink,
div.ro-source > div:not(:empty) > div.ro-labelledlink a div {
  background-color: grey;
  color: white;
}
div.ro-source > div:not(:empty) > div.ro-labelledlink a div {
  text-decoration: underline;
}
div.ro-source div.ro-sourcelabel {
  padding: 8px;
}
div.ro-source div.ro-recordhistory div {
  display: flex;
  flex-direction: row;
}
div.ro-source div.ro-recordhistory div div:first-child {
  min-width: 200px;
}
div.ro-source div.ro-recordhistory div div.label {
  font-style: italic;
}
div.ro-source div.ro-contents div.ro-summaryitem {
  display: flex;
  flex-direction: row;
}
div.ro-source div.ro-contents div.ro-summaryitem div:first-child {
  min-width: 200px;
}
div.ro-source div.ro-contents div.ro-summaryitem div.label {
  font-style: italic;
}
div.ro-source div.ro-materialgroups div.ro-materialgroupitem div.ro-materialsummary,
div.ro-source div.ro-materialgroups div.ro-exemplarsitem div.ro-materialsummary,
div.ro-source div.ro-exemplars div.ro-materialgroupitem div.ro-materialsummary,
div.ro-source div.ro-exemplars div.ro-exemplarsitem div.ro-materialsummary {
  display: flex;
  flex-direction: row;
}
div.ro-source div.ro-materialgroups div.ro-materialgroupitem div.ro-materialsummary div:first-child,
div.ro-source div.ro-materialgroups div.ro-exemplarsitem div.ro-materialsummary div:first-child,
div.ro-source div.ro-exemplars div.ro-materialgroupitem div.ro-materialsummary div:first-child,
div.ro-source div.ro-exemplars div.ro-exemplarsitem div.ro-materialsummary div:first-child {
  min-width: 200px;
}
div.ro-source div.ro-materialgroups div.ro-materialgroupitem div.ro-materialsummary div.label,
div.ro-source div.ro-materialgroups div.ro-exemplarsitem div.ro-materialsummary div.label,
div.ro-source div.ro-exemplars div.ro-materialgroupitem div.ro-materialsummary div.label,
div.ro-source div.ro-exemplars div.ro-exemplarsitem div.ro-materialsummary div.label {
  font-style: italic;
}

div.ro-work {
  margin-bottom: 8px;
}
div.ro-work > div.ro-label,
div.ro-work > div.ro-labelledlink a div {
  background-color: #1d3557;
  color: white;
  border: 1px #1d3557 solid;
  padding: 8px;
}
div.ro-work div.ro-labelledlink a {
  text-decoration: underline;
}
div.ro-work > div:not(:empty) {
  border: 1px grey solid;
  margin-bottom: 8px;
}
div.ro-work > div:not(:empty) > div {
  padding: 8px;
}
div.ro-work > div:not(:empty) > div.ro-label,
div.ro-work > div:not(:empty) > div.ro-labelledlink,
div.ro-work > div:not(:empty) > div.ro-labelledlink a div {
  background-color: grey;
  color: white;
}
div.ro-work > div:not(:empty) > div.ro-labelledlink a div {
  text-decoration: underline;
}
div.ro-work div.ro-summary div.ro-i18n span {
  display: flex;
  flex-direction: column;
}
div.ro-work div.ro-recordhistory div {
  display: flex;
  flex-direction: row;
}
div.ro-work div.ro-recordhistory div div:first-child {
  min-width: 200px;
}
div.ro-work div.ro-recordhistory div div.label {
  font-style: italic;
}
div.ro-work div.ro-incipits div.ro-incipitsitem div.ro-incipitsummary {
  display: flex;
  flex-direction: row;
}
div.ro-work div.ro-incipits div.ro-incipitsitem div.ro-incipitsummary div:first-child {
  min-width: 200px;
}
div.ro-work div.ro-incipits div.ro-incipitsitem div.ro-incipitsummary div.label {
  font-style: italic;
}
div.ro-work div.ro-incipits div.ro-data {
  max-width: 800px;
}
div.ro-work div.ro-sources {
  display: flex;
  flex-direction: row;
}
div.ro-work div.ro-sources div:first-child {
  min-width: 200px;
}
div.ro-work div.ro-sources div.label {
  font-style: italic;
}
