
// Plain example
$padding: 8px;
$margin: 8px;
$section-color: grey;
$label-text-color: white;
$source-color: black;
$column-width: 200px;

/*
// Bulma example (with npm install bulma)
@import "node_modules/bulma/bulma";
@import "node_modules/bulma/sass/utilities";
$padding: 8px;
$margin: 8px;
$section-color: $info;
$label-text-color: white;
$source-color: $primary;
$column-width: 200px
*/

// Mixins
@mixin flex-row {
  display: flex;
  flex-direction: row;
  div:first-child {
    min-width: $column-width;
  }

  div.label {
    font-style: italic;
  }
}

@mixin link() {
  text-decoration: underline;
}

@mixin source() {
  background-color: $source-color;
  color: $label-text-color;
  border: 1px $source-color solid;
  padding: $padding;
}

@mixin section() {
  border: 1px $section-color solid;
  margin-bottom: $margin;
  > div {
    padding: $padding;
  }
}

@mixin section-label() {
  background-color: $section-color;
  color: $label-text-color;
}

// Styles
div.source {

  margin: $margin;

  > div.label,
  > div.labelledlink a div {
    @include source;
  }

  div.labelledlink a {
    @include link;
  }

  > div:not(:empty) {
    @include section;

    > div.label,
    > div.labelledlink, 
    > div.labelledlink a div {
      @include section-label;
    }

    > div.labelledlink a div {
      @include link;
    }
  }

  div.sourcelabel {
    padding: $padding;
  }

  div.recordhistory {
    div {
      @include flex-row;
    }
  }

  div.contents {
    div.summaryitem {
      @include flex-row;
    }
  }

  div.materialgroups,
  div.exemplars {
    div.materialgroupitem,
    div.exemplarsitem {
      div.materialsummary {
        @include flex-row;
      }
    }
  }
}

@mixin work() {
  background-color: $source-color;
  color: $label-text-color;
  border: 1px $source-color solid;
  padding: $padding;
}

// Styles
div.work {

  margin: $margin;

  > div.label,
  > div.labelledlink a div {
    @include work;
  }

  div.labelledlink a {
    @include link;
  }

  > div:not(:empty) {
    @include section;

    > div.label,
    > div.labelledlink, 
    > div.labelledlink a div {
      @include section-label;
    }

    > div.labelledlink a div {
      @include link;
    }
  }

  div.summary {
    div.i18n span {
      display: flex;
      flex-direction: column;
    }
  }

  div.recordhistory {
    div {
      @include flex-row;
    }
  }

  div.incipits {
    div.incipitsitem {
      div.incipitsummary {
        @include flex-row;
      }
    }
  }
}